{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "ignorePatterns": [
    "node_modules"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}